<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mycode.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/booka"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/booka"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLibrary">
        <activity android:name=".WebsiteActivity"></activity>
        <activity android:name=".favoriteBooksActivity"
            android:label="@string/favorite_book"/>
        <activity android:name=".currentlyReadingBooksActivity"
            android:label="@string/current_read"/>
        <activity android:name=".WantToReadBookActivity"
            android:label="@string/want_to_read"/>
        <activity android:name=".AlreadyReadBookActivity"
            android:label="@string/already_read"/>
        <activity android:name=".BookActivity"
            android:label="@string/book"/>
        <activity android:name=".AllBooksActivity"
            android:label="@string/all_books"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>